.section1Info{
    display: grid;
    grid-row: 1/7;
    grid-column: 1/8;
    grid-template-columns: repeat(14,1fr);
    grid-template-rows: repeat(56,1fr);
    grid-gap: 0;
    -webkit-animation: fadein 3.5s;
    
}
@media only screen and (max-width: 600px) {
    .section1Info{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        -webkit-animation: fadein 3.5s;
        min-height: 600px;
    }
.container1Info{
    grid-row: 2/10;
    grid-column: 2/7;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
}
.container2Info{
    grid-row: 12/53;
    grid-column: 2/14;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
}

.container2Info h4 {
    font-size: 1em;
    font-weight: lighter;
}
.container3Info{
    grid-row: 5/9;
    grid-column: 2/14;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
}
.container3Info h1 {
    font-size: 2em;
    font-weight: lighter;
}
.containerbutton{
    grid-row: 40/43;
    grid-column: 2/7;
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.containerbutton a{
    text-decoration: none;
    color: inherit;
}
.containerbutton h5{
    margin: 0;
    font-weight: lighter;
}
.containerpic1{
    grid-row: 6/20;
    grid-column: 15/20;
    display:none;
}
.containerpic2{
    grid-row: 13/25;
    grid-column: 19/23;
    display:none;
}
.containerpic3{
    grid-row: 20/32;
    grid-column: 16/20;
    display:none;
}
.containerpic4{
    grid-row: 25/40;
    grid-column: 20/25;
    display:none;
}
.containerpic5{
    grid-row: 32/48;
    grid-column: 14/20;
    display:none;
}
.containerpic6{
    grid-row: 39/53;
    grid-column: 20/26;
    display:none;
}
.containerpic7{
    grid-row: 10/27;
    grid-column: 23/28;
    display:none;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container1Info{
        grid-row: 5/14;
        grid-column: 2/7;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .section1Info{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        -webkit-animation: fadein 3.5s;
        min-height: 800px;
    }
    .container2Info{
        grid-row: 13/52;
        grid-column: 2/14;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container2Info h4 {
        font-size: 1.4em;
        font-weight: lighter;
    }
    .container3Info{
        grid-row: 6/9;
        grid-column: 4/12;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container3Info h1 {
        font-size: 2.5em;
        font-weight: lighter;
    }
    .container4 h5{
        font-size: 1.2em;
    }
    .containerbutton{
        grid-row: 43/46;
        grid-column: 2/7;
        color: white;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .containerbutton a{
        text-decoration: none;
        color: inherit;
    }
    .containerbutton h5{
        margin: 0;
        font-weight: lighter;
    }
    .containerpic1{
        grid-row: 6/20;
        grid-column: 15/20;
        display:none;
    }
    .containerpic2{
        grid-row: 13/25;
        grid-column: 19/23;
        display:none;
    }
    .containerpic3{
        grid-row: 20/32;
        grid-column: 16/20;
        display:none;
    }
    .containerpic4{
        grid-row: 25/40;
        grid-column: 20/25;
        display:none;
    }
    .containerpic5{
        grid-row: 32/48;
        grid-column: 14/20;
        display:none;
    }
    .containerpic6{
        grid-row: 39/53;
        grid-column: 20/26;
        display:none;
    }
    .containerpic7{
        grid-row: 10/27;
        grid-column: 23/28;
        display:none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container1Info{
        grid-row: 5/14;
        grid-column: 2/7;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .section1Info{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        -webkit-animation: fadein 3.5s;
        min-height: 800px;
    }
    .container2Info{
        grid-row: 13/52;
        grid-column: 2/14;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container2Info h4 {
        font-size: 1.4em;
        font-weight: lighter;
    }
    .container3Info{
        grid-row: 6/9;
        grid-column: 4/12;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container3Info h1 {
        font-size: 2.5em;
        font-weight: lighter;
    }
    .container4 h5{
        font-size: 1.2em;
    }
    .containerbutton{
        grid-row: 43/46;
        grid-column: 2/7;
        color: white;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .containerbutton a{
        text-decoration: none;
        color: inherit;
    }
    .containerbutton h5{
        margin: 0;
        font-weight: lighter;
    }
    .containerpic1{
        grid-row: 6/20;
        grid-column: 15/20;
        display:none;
    }
    .containerpic2{
        grid-row: 13/25;
        grid-column: 19/23;
        display:none;
    }
    .containerpic3{
        grid-row: 20/32;
        grid-column: 16/20;
        display:none;
    }
    .containerpic4{
        grid-row: 25/40;
        grid-column: 20/25;
        display:none;
    }
    .containerpic5{
        grid-row: 32/48;
        grid-column: 14/20;
        display:none;
    }
    .containerpic6{
        grid-row: 39/53;
        grid-column: 20/26;
        display:none;
    }
    .containerpic7{
        grid-row: 10/27;
        grid-column: 23/28;
        display:none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container1Info{
        grid-row: 5/14;
        grid-column: 2/7;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }

    .section1Info{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        -webkit-animation: fadein 3.5s;
        min-height: 800px;
    }
        .container2Info{
        grid-row: 13/52;
        grid-column: 2/14;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container2Info h4 {
        font-size: 1.4em;
        font-weight: lighter;
    }
    .container3Info{
        grid-row: 6/9;
        grid-column: 4/12;
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container3Info h1 {
        font-size: 2.5em;
        font-weight: lighter;
    }
    .container4 h5{
        font-size: 1.2em;
    }
    .containerbutton{
        grid-row: 43/46;
        grid-column: 2/7;
        color: white;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .containerbutton a{
        text-decoration: none;
        color: inherit;
    }
    .containerbutton h5{
        margin: 0;
        font-weight: lighter;
    }
    .containerpic1{
        grid-row: 6/20;
        grid-column: 15/20;
        display:none;
    }
    .containerpic2{
        grid-row: 13/25;
        grid-column: 19/23;
        display:none;
    }
    .containerpic3{
        grid-row: 20/32;
        grid-column: 16/20;
        display:none;
    }
    .containerpic4{
        grid-row: 25/40;
        grid-column: 20/25;
        display:none;
    }
    .containerpic5{
        grid-row: 32/48;
        grid-column: 14/20;
        display:none;
    }
    .containerpic6{
        grid-row: 39/53;
        grid-column: 20/26;
        display:none;
    }
    .containerpic7{
        grid-row: 10/27;
        grid-column: 23/28;
        display:none;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .section1Info{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        -webkit-animation: fadein 3.5s;
        min-height: 800px;
    }
    
    
    .container2Info{
        grid-row: 13/44;
        grid-column: 2/14;
        color: white;
        text-align: left;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container2Info h4 {
        font-size: 1.2em;
        font-weight: lighter;
    }
    .container3Info h1 {
        font-size: 2.5em;
        font-weight: lighter;
    }
    .container3Info{
        grid-row: 6/10;
        grid-column: 2/7;
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .containerbutton{
        grid-row: 47/50;
        grid-column: 2/8;
        color: white;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .containerbutton a{
        text-decoration: none;
        color: inherit;
    }
    .containerbutton h5{
        margin: 0;
        font-weight: lighter;
    }
    .containerpic1{
        grid-row: 7/20;
        grid-column: 15/20;
        display:unset;
    }
    .officeimage{
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
    .containerpic2{
        grid-row: 13/25;
        grid-column: 18/23;
        display:unset;
    }
    .containerpic3{
        grid-row: 20/33;
        grid-column: 16/21;
        display:unset;
    }
    .containerpic4{
        grid-row: 25/40;
        grid-column: 21/26;
        display:unset;
    }
    .containerpic5{
        grid-row: 32/45;
        grid-column: 15/21;
        display:unset;
    }
    .containerpic6{
        grid-row: 39/53;
        grid-column: 21/27;
        display:unset;
    }
    .containerpic7{
        grid-row: 12/27;
        grid-column: 23/28;
        display:unset;
    }
}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    .section1Info{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        -webkit-animation: fadein 3.5s;
        min-height: 700px;
    }
    
    .container2Info{
        grid-row: 13/44;
        grid-column: 2/14;
        color: white;
        text-align: left;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container2Info h4 {
        font-size: 1.3em;
        font-weight: lighter;
    }
    .container3Info h1 {
        font-size: 2.5em;
        font-weight: lighter;
    }
    .container3Info{
        grid-row: 6/10;
        grid-column: 2/7;
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .containerbutton{
        grid-row: 47/50;
        grid-column: 2/8;
        color: white;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .containerbutton a{
        text-decoration: none;
        color: inherit;
    }
    .containerbutton h5{
        margin: 0;
        font-weight: lighter;
    }
    .containerpic1{
        grid-row: 7/20;
        grid-column: 15/20;
        display:unset;
    }
    .officeimage{
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
    .containerpic2{
        grid-row: 13/25;
        grid-column: 18/23;
        display:unset;
    }
    .containerpic3{
        grid-row: 20/33;
        grid-column: 16/21;
        display:unset;
    }
    .containerpic4{
        grid-row: 25/40;
        grid-column: 21/26;
        display:unset;
    }
    .containerpic5{
        grid-row: 32/45;
        grid-column: 15/21;
        display:unset;
    }
    .containerpic6{
        grid-row: 39/53;
        grid-column: 21/27;
        display:unset;
    }
    .containerpic7{
        grid-row: 12/27;
        grid-column: 23/28;
        display:unset;
    }
}
/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    .section1Info{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        -webkit-animation: fadein 3.5s;
        min-height: 800px;
    }
    
    .container2Info{
        grid-row: 14/42;
        grid-column: 2/13;
        color: white;
        text-align: left;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .container2Info h4 {
        font-size: 1.5em;
        font-weight: lighter;
    }
    .container3Info h1 {
        font-size: 2.5em;
        font-weight: lighter;
    }
    .container3Info{
        grid-row: 7/13;
        grid-column: 2/7;
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);  
    }
    .containerbutton{
        grid-row: 47/50;
        grid-column: 2/8;
        color: white;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .containerbutton a{
        text-decoration: none;
        color: inherit;
    }
    .containerbutton h5{
        margin: 0;
        font-weight: lighter;
    }
    .containerpic1{
        grid-row: 6/20;
        grid-column: 15/20;
        display:unset;
    }
    .officeimage{
        object-fit: fill;
        height: 100%;
        width: 100%;
    }
    .containerpic2{
        grid-row: 13/25;
        grid-column: 19/23;
        display:unset;
    }
    .containerpic3{
        grid-row: 20/32;
        grid-column: 16/20;
        display:unset;
    }
    .containerpic4{
        grid-row: 25/40;
        grid-column: 20/25;
        display:unset;
    }
    .containerpic5{
        grid-row: 32/48;
        grid-column: 14/20;
        display:unset;
    }
    .containerpic6{
        grid-row: 39/53;
        grid-column: 20/26;
        display:unset;
    }
    .containerpic7{
        grid-row: 10/27;
        grid-column: 23/28;
        display:unset;
    }
}