
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section2{
    display: grid;
    grid-row: 1/7;
    grid-column: 1/8;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(28,1fr);
    grid-gap: 0;
    min-height: 600px;
}

    .container2{
    grid-row: 7/14;
    grid-column: 1/8;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
    .container1{
    grid-row: 3/8;
    grid-column: 2/7;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
    
}
.logolayouthome{
    width: 400px;
    height: 100px;
}
.container3{
    grid-row: 15/17;
    grid-column: 2/7;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.container35{
    display:none;
 }
.container4{
    grid-row: 19/21;
    grid-column: 2/7;
    color: white;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container4:hover{
    background-color: #808080;
    transition: .2s ease-in;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    border: 2px solid #808080;
}
.container5{
    grid-row: 22/24;
    grid-column: 2/7;
    color: white;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5:hover{
    background-color: #808080;
    transition: .2s ease-in;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    border: 2px solid #808080;
}
.container4 h5{
    margin: 0;
}
.container5 h5{
    margin: 0;
}
.container4 a{
    text-decoration: none;
    color: inherit;
}
.container5 a{
    text-decoration: none;
    color: inherit;
}
.container6{
    display:none;
}
.logolayouthome{
    height: 80%;
    width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(28,1fr);
        grid-gap: 0;
        min-height: 600px;
    }
    
        .container2{
        grid-row: 8/14;
        grid-column: 1/8;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
        .container1{
        grid-row: 3/8;
        grid-column: 2/7;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
        
    }
    .logolayouthome{
        width: 400px;
        height: 100px;
    }
    .container3{
        grid-row: 14/17;
        grid-column: 2/7;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    .container35{
        display:none;
     }
    .container4{
        grid-row: 19/21;
        grid-column: 2/7;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 22/24;
        grid-column: 2/7;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        margin: 0;
    }
    .container5 h5{
        margin: 0;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        display:none;
    }
    .logolayouthome{
        height: 80%;
        width: 100%;
    }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(28,1fr);
        grid-gap: 0;
        min-height: 700px;
    }
    
        .container2{
        grid-row: 8/14;
        grid-column: 1/8;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
        .container1{
        grid-row: 3/8;
        grid-column: 3/6;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
        
    }
    .logolayouthome{
        width: 400px;
        height: 100px;
    }
    .container3{
        grid-row: 13/15;
        grid-column: 2/7;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    .container35{
        display:none;
     }
    .container4{
        grid-row: 19/21;
        grid-column: 3/6;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 22/24;
        grid-column: 3/6;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        margin: 0;
    }
    .container5 h5{
        margin: 0;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        display:none;
    }
    .logolayouthome{
        height: 80%;
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(28,1fr);
        grid-gap: 0;
        min-height: 700px;
    }
    
        .container2{
        grid-row: 8/14;
        grid-column: 1/8;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
    }
        .container1{
        grid-row: 3/8;
        grid-column: 3/6;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5); 
        
    }
    .logolayouthome{
        width: 400px;
        height: 100px;
    }
    .container3{
        grid-row: 13/15;
        grid-column: 2/7;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    .container35{
        display:none;
     }
    .container4{
        grid-row: 19/21;
        grid-column: 3/6;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 22/24;
        grid-column: 3/6;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        margin: 0;
    }
    .container5 h5{
        margin: 0;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        display:none;
    }
    .logolayouthome{
        height: 80%;
        width: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/14;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        overflow: hidden;
    }
        .container2{
        grid-row: 13/19;
        grid-column: 2/10;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            font-size: 1.8em;
            font-weight: lighter;
            padding: 0;
        }
        .container1{
        grid-row: 7/13;
        grid-column: 2/11;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0);
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 20/23;
        grid-column: 2/17;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
        display:unset;
        grid-row: 25/40;
        grid-column: 2/15;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35 h4 {
        font-size: 1.3em;
        font-weight: lighter;
    }
    .container3 h4 {
        font-size: 1.8em;
        font-weight: lighter;
    }
    .container4{
        grid-row: 47/50;
        grid-column: 2/8;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .4s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 47/50;
        grid-column: 9/15;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container5 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        grid-row: 8/50;
        grid-column: 16/28;
        display: unset;
    }
    .animatedImage{
        object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    }
    .logolayouthome{
        height: 90%;
        width: 75%;
    }
}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/14;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        overflow: hidden;
    }
        .container2{
        grid-row: 13/19;
        grid-column: 2/10;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            font-size: 1.8em;
            font-weight: lighter;
            padding: 0;
        }
        .container1{
        grid-row: 7/13;
        grid-column: 2/11;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0);
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 20/23;
        grid-column: 2/17;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
        display:unset;
        grid-row: 25/40;
        grid-column: 2/15;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35 h4 {
        font-size: 1.3em;
        font-weight: lighter;
    }
    .container3 h4 {
        font-size: 1.8em;
        font-weight: lighter;
    }
    .container4{
        grid-row: 47/50;
        grid-column: 2/8;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .4s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 47/50;
        grid-column: 9/15;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container5 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        grid-row: 8/50;
        grid-column: 16/28;
        display: unset;
    }
    .animatedImage{
        object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    }
    .logolayouthome{
        height: 90%;
        width: 75%;
    }
}
/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/14;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
        overflow: hidden;
    }
        .container2{
        grid-row: 13/19;
        grid-column: 2/10;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            font-size: 1.8em;
            font-weight: lighter;
            padding: 0;
        }
        .container1{
        grid-row: 5/13;
        grid-column: 2/11;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0);
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 20/23;
        grid-column: 2/10;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
        display:unset;
        grid-row: 25/40;
        grid-column: 2/15;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35 h4 {
        font-size: 1.5em;
        font-weight: lighter;
    }
    .container3 h4 {
        font-size: 1.8em;
        font-weight: lighter;
    }
    .container4{
        grid-row: 47/50;
        grid-column: 2/8;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .4s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 47/50;
        grid-column: 9/15;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container5 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        grid-row: 8/50;
        grid-column: 16/28;
        display: unset;
    }
    .animatedImage{
        object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    }
    .logolayouthome{
        height: 90%;
        width: 75%;
    }
}