.section3{
    display: grid;
    grid-row: 1/57;
    grid-column: 2/15;
    grid-template-columns: repeat(28,1fr);
    grid-template-rows: repeat(56,1fr);
    grid-gap: 0;
}
.section2{
    display: grid;
    grid-row: 1/6;
    grid-column: 1/8;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 15px;
    background-image: url("Gradient.png");
    background-repeat: no-repeat;
}
.containerText{
    display: flex;
    grid-row: 1/2;
    grid-column: 3/5;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
}
.container2{
    grid-row: 2/5;
    grid-column: 4/7;
}
.container1{
    grid-row: 1/4;
    grid-column: 1/4;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .section2{
    display: grid;
    grid-row: 1/7;
    grid-column: 1/8;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(28,1fr);
    grid-gap: 0;
}
.section3{
    display: grid;
    grid-row: 1/57;
    grid-column: 1/15;
    grid-template-columns: repeat(28,1fr);
    grid-template-rows: repeat(56,1fr);
    grid-gap: 0;
}
    .container2{
    grid-row: 14/25;
    grid-column: 3/27;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    .container1{
    grid-row: 5/14;
    grid-column: 2/28;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
}
.logolayouthome{
    width: 400px;
    height: 100px;
}
.container3{
    grid-row: 28/31;
    grid-column: 3/27;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container35{
    display:none;
 }
.container4{
    grid-row: 40/43;
    grid-column: 5/25;
    color: white;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container4:hover{
    background-color: #808080;
    transition: .2s ease-in;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    border: 2px solid #808080;
}
.container5{
    grid-row: 35/38;
    grid-column: 5/25;
    color: white;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5:hover{
    background-color: #808080;
    transition: .2s ease-in;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    border: 2px solid #808080;
}
.container4 h5{
    margin: 0;
}
.container5 h5{
    margin: 0;
}
.container4 a{
    text-decoration: none;
    color: inherit;
}
.container5 a{
    text-decoration: none;
    color: inherit;
}
.container6{
    display:none;
}
.logolayouthome{
    height: 80%;
    width: 100%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(28,1fr);
        grid-gap: 0;
    }
    .section3{
        display: grid;
        grid-row: 1/57;
        grid-column: 1/15;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
        .container2{
        grid-row: 17/28;
        grid-column: 3/27;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            font-size: 3em;
        }
        .container1{
        grid-row: 8/15;
        grid-column: 4/26;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .logolayouthome{
        width: 400px;
        height: 100px;
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 31/34;
        grid-column: 3/27;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
       display:none;
    }
    .container3 h4 {
        font-size: 1.7em;
    }
    .container4{
        grid-row: 44/47;
        grid-column: 5/25;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 39/42;
        grid-column: 5/25;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.5em;
        margin: 0;
    }
    .container5 h5{
        font-size: 1.5em;
        margin: 0;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        display:none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(28,1fr);
        grid-gap: 0;
    }
    .section3{
        display: grid;
        grid-row: 1/57;
        grid-column: 2/14;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
        .container2{
        grid-row: 16/27;
        grid-column: 5/25;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            font-size: 3em;
        }
        .container1{
        grid-row: 8/13;
        grid-column: 5/25;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 27/32;
        grid-column: 7/23;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container35{
        display:none;
     }
    .container3 h4 {
        font-size: 1.7em;
    }
    .container4{
        grid-row: 35/38;
        grid-column: 8/22;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 40/43;
        grid-column: 8/22;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(14,1fr);
        grid-template-rows: repeat(28,1fr);
        grid-gap: 0;
    }
    .section3{
        display: grid;
        grid-row: 1/57;
        grid-column: 2/14;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
        .container2{
        grid-row: 17/28;
        grid-column: 5/25;
        text-align: center;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            font-size: 3em;
        }
        .container1{
        grid-row: 9/14;
        grid-column: 5/25;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 26/31;
        grid-column: 7/23;
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
        display:none;
     }
    .container3 h4 {
        font-size: 1.7em;
    }
    .container4{
        grid-row: 38/41;
        grid-column: 8/22;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 44/47;
        grid-column: 8/22;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.5em;
        margin: 0;
    }
    .container5 h5{
        font-size: 1.5em;
        margin: 0;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        display:none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
    .section3{
        display: grid;
        grid-row: 1/57;
        grid-column: 2/16;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
        .container2{
        grid-row: 13/19;
        grid-column: 2/18;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            font-size: 1.8em;
            font-weight: lighter;
            padding: 0;
        }
        .container1{
        grid-row: 7/13;
        grid-column: 1/20;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0);
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 19/23;
        grid-column: 2/18;
        display: flex;
        justify-content: left;
        align-items: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
        display:unset;
        grid-row: 25/50;
        grid-column: 2/26;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35 h4 {
        font-size: 1.3em;
        font-weight: lighter;
    }
    .container3 h4 {
        font-size: 1.8em;
        font-weight: lighter;
    }
    .container4{
        grid-row: 47/50;
        grid-column: 2/14;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .4s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 47/50;
        grid-column: 15/27;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container5 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        grid-row: 8/50;
        grid-column: 16/28;
        display: unset;
    }
    .animatedImage{
        object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    }
    .logolayouthome{
        height: 90%;
        width: 75%;
    }
}
/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
    .section3{
        display: grid;
        grid-row: 1/57;
        grid-column: 2/15;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
        .container2{
        grid-row: 13/20;
        grid-column: 2/20;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            text-align: left;
            font-size: 2em;
            font-weight: lighter;
            padding: 0;
        }
        .container1{
        grid-row: 7/13;
        grid-column: 1/20;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0);
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 19/23;
        grid-column: 2/29;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
        display:unset;
        grid-row: 25/42;
        grid-column: 2/30;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35 h4 {
        font-size: 1.4em;
        font-weight: lighter;
    }
    .container3 h4 {
        font-size: 2em;
        font-weight: lighter;
    }
    .container4{
        grid-row: 47/50;
        grid-column: 2/14;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .4s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 47/50;
        grid-column: 15/27;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container5 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        grid-row: 8/50;
        grid-column: 16/28;
        display: unset;
    }
    .animatedImage{
        object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    }
}
/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
    .section2{
        display: grid;
        grid-row: 1/7;
        grid-column: 1/8;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
    .section3{
        display: grid;
        grid-row: 1/57;
        grid-column: 2/15;
        grid-template-columns: repeat(28,1fr);
        grid-template-rows: repeat(56,1fr);
        grid-gap: 0;
    }
        .container2{
        grid-row: 13/20;
        grid-column: 2/20;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
        .container2 h1{
            text-align: left;
            font-size: 2em;
            font-weight: lighter;
            padding: 0;
        }
        .container1{
        grid-row: 6/13;
        grid-column: 1/20;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0);
        color: white;
        justify-content: left;
        text-align: left;
        align-items: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);   
    }
    .container1 h1{
        font-size: 3.5em;
    }
    .container3{
        grid-row: 19/23;
        grid-column: 2/29;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35{
        display:unset;
        grid-row: 25/42;
        grid-column: 2/30;
        text-align: left;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .container35 h4 {
        font-size: 1.6em;
        font-weight: lighter;
    }
    .container3 h4 {
        font-size: 2em;
        font-weight: lighter;
    }
    .container4{
        grid-row: 47/50;
        grid-column: 2/14;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container4:hover{
        background-color: #808080;
        transition: .4s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container5{
        grid-row: 47/50;
        grid-column: 15/27;
        color: white;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container5:hover{
        background-color: #808080;
        transition: .2s ease-in;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        border: 2px solid #808080;
    }
    .container4 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container5 h5{
        font-size: 1.3em;
        margin: 0;
        font-weight: lighter;
    }
    .container4 a{
        text-decoration: none;
        color: inherit;
    }
    .container5 a{
        text-decoration: none;
        color: inherit;
    }
    .container6{
        grid-row: 8/50;
        grid-column: 16/28;
        display: unset;
    }
    .animatedImage{
        object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    }
}