body{
  background-image: url("Gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.gridContainer{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(7);
  grid-template-rows: 8% 15% 15% 15% 15% 15% 17%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.gridContainer{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: 8% 15% 15% 15% 15% 15% 17%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}