body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("Gradient.png");
}
.gridContainer{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(6);
  grid-template-rows: 15% 15% 15% 15% 15% 25%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gridContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6);
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gridContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6);
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gridContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6);
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gridContainer{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6);
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .gridContainer{
    display: grid;
    height: 93vh;
    grid-template-columns: repeat(6);
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
  }
}
@media only screen and (min-width: 1280px) {
  .gridContainer{
    display: grid;
    height: 93vh;
    grid-template-columns: repeat(6);
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
  }
}
@media only screen and (min-width: 1400px) {
  .gridContainer{
    display: grid;
    height: 93vh;
    grid-template-columns: repeat(6);
    grid-template-rows: 15% 15% 15% 15% 15% 25%;
  }
}